/* container */
$widthContainer: 1330px;
$paddingContainer: 12px;

/* base typography */
$baseFont: 'Nanum Gothic', sans-serif;

$baseWeight: 400;

/* colors */
$linkColor: #333333; /* base color for <a> */