.header {
    position: fixed;
    z-index: 999;
    background: #210e09;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 55px;
    border-bottom: 1px solid grey;

    @media(max-width:556.99px) {
        padding: 20px 0px;
    }

    .header-main {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width:556.99px) {
            gap: 15px;
        }

        .header__logo {
            display: block;
        }
    
        .header-menu {
            display: flex;
            align-items: center;
            gap: 30px;

            &-active {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                position: absolute;
                z-index: 100;
                top: 0;
                left: 0;
                gap: 10px;
                font-size: 20px;
                padding: 20px;
            }

            .menu__list a{
                transition: 0.3s ease;

                &:hover {
                    color: #D5621D;
                }
            }

            @media(max-width:996.99px) {
                display: none;
            }
        }
    }

    .header-burger {
            cursor: pointer;
            display: none;
            height: 40px;

            &-active {
                display: block;
                position: absolute;
                z-index: 99;
                top: 0;
                left: 0;
                padding: 20px;
                background: black;
                height: 100%;
                max-width: 320px;
                width: 100%; 
            }

            &_menu-active {
                display: none;
                // position: absolute;
                // right: 10px;
                // top: 10px;
                // margin-right: 20px;
            }

            &_close {
                display: none;
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                padding: 20px;
                z-index: 99;

                &-active {
                    display: block;
                }

                & img {
                    width: 50px;
                    height: 40px;
                }
            }

                & li {
                    margin-bottom: 10px;
                }

                @media(max-width:996.99px) {
                display: block;

                &_menu {
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    width: 30px;
                    height: 3px;
                    background: #D5621D;
                    margin: 20px 10px;
                
                    &::after {
                        content: "";
                        position: absolute;
                        top: -9px;
                        width: 30px;
                        height: 3px;
                        background: #D5621D;
                    }
    
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -9px;
                        width: 30px;
                        height: 3px;
                        background: #D5621D;
                    }
                
    
                
            }
                }   
    }
        
    .header__reservation {
            padding: 15px 30px;
            letter-spacing: 1.7px;
            text-transform: uppercase;
            display: block;
            border: 1px solid #D5621D;
            border-radius: 5px;
            transition: 0.3s ease;

            &:hover {
                background-color: #D5621D;
            }

            @media(max-width:425.99px) {
                display: none;
            }
    }
}
    

.reservation-modal {
    display: none;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 999;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 40px;
    max-width: 500px;
    width: 100%;
    background-color: #b66838;
    border-radius: 10px;
    border: 1.5px solid #333;
    // position: fixed;
    // top: 0;
    // bottom: 0;
    // right: 0;
    // left: 0;
    // overflow: hidden;
    // overflow-y: auto;
    // -webkit-overflow-scrolling: touch;
    // display: flex;
    // flex-flow: column nowrap;
    // justify-content: center; /* см. ниже */
    // align-items: center;
    // z-index: 99;
    // /* Чтобы окно не прилипало к границе
    // браузера установим отступы */
    // padding:30px 0;

    &_picture {
        cursor: pointer;
        position: absolute;
        z-index: 99;
        width: 35px;
        height: 35px;
        top: 0;
        right: 0;
        margin: 2px 2px 0px 0px;
        transition: 0.5s ease;

        &:hover{
            transform: scale(1.2);
        }
    }

    .modal-block {

        .block-title {
            text-align: start;
            font-size: 30px;
            margin-bottom: 10px;
            text-decoration: overline;
            color: #f08645;
        }

        .block-subtitle {
            text-align: start;
            font-size: 20px;
            color: #333;
            margin-bottom: 60px;
        }

        .block-order {
            display: flex;
            align-items: center;
            gap: 40px;
            margin-bottom: 40px;

            .order-item {
                display: flex;
                flex-direction: column;
                gap: 10px;

                & input {
                    max-width: 150px;
                    width: 100%;
                    border: 1px solid rgb(224, 190, 36);
                    border-radius: 4px;

                    &:focus-visible {
                        outline: 0;
                    }
                }

                .item_date {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex: 0 0 50%;
                    gap: 10px;
                }

                .item_row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex: 0 0 50%;
                    gap: 10px;
                }

                .item_time {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex: 0 0 50%;
                    gap: 10px;
                }

                .item_place {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex: 0 0 50%;
                    gap: 10px;
                }
            }
        }

        .block-accept {
            text-align: center;

            & button {
                cursor: pointer;
                display: inline-block;
                background-color: #D5621D;
                border-radius: 5px;
                padding: 10px;
                font-size: 18px;
                letter-spacing: 2px;
                text-transform: uppercase;
                border: 1px solid rgb(102, 101, 101);
                transition: 0.3s ease;
                

                &:focus-visible {
                    outline: 0;
                }

                &:active {
                    border-style: none;
                }

                &:hover {
                    color: #fff;
                    border: 1px solid #fff;
                }
            }
        }
    }
}







